/* Imports */

@import "angled-edges";
@import "ribbon";

/* Variables */

$white: #d6dae4;
$black: #333;
$yellow: #ffed4a;
$yellow2: #fff382;

$shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$shadow2: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

/* Extensions */

%transition {
  transition: all 0.3s ease-in-out;
}

%uppercase {
  text-transform: uppercase;
}

%padding-top {
  padding-top: 2rem;
}

/* Document */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-size: 10px;
  background-color: $black;
  color: $white;
}

/* Text */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @extend %uppercase;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

span,
p,
a,
.figure-caption {
  font-size: 1.6rem;
}

/* Misc Classes */

.center-text {
  text-align: center;
}

/* Bootstrap Overrides */

.bg-dark {
  background-color: $black !important;
}

.container {
  max-width: 1440px !important;
}

/* Navbar */

.navbar {
  border-top: 0.25rem solid $yellow;
  .nav-link {
    border-bottom: 0.25rem solid $black;
    padding: 0.5rem 1rem 0.25rem 1rem;
    @extend %transition;
    @extend %uppercase;
  }

  .nav-link:hover,
  .nav-link:focus {
    border-bottom: 0.25rem solid $yellow;
  }
}

.navbar-dark {
  .navbar-toggler {
    color: var(--white);
    border: none;
  }
  .navbar-brand {
    color: var(--white);
    font-weight: 700;
    font-size: 2rem;
    @extend %transition;
    @extend %uppercase;
  }
}

/* Hero */

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(21, 21, 21, 0.5), rgba(21, 21, 21, 1)),
    url(https://source.unsplash.com/FlmXvqlD-nI);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  text-align: center;

  .hero-text {
    padding: 0 1rem;
  }

  .subheading-container {
    margin-bottom: 1.5rem;
    @extend %uppercase;
  }

  .hero-button {
    color: $black;
    background: $yellow;
    padding: 0.5rem 0.7rem;
    @extend %transition;
    @extend %uppercase;
  }

  .hero-button:hover,
  .hero-button:focus {
    color: $black;
    background: $yellow2;
    text-decoration: none;
  }
}

.hero-container-secondary {
  height: 420px;
  .hero-text {
    margin-top: 58px;
  }
}

/* Why */

#why {
  padding: 2rem 0;
  h2 {
    margin-bottom: 2rem;
  }
}

/* Highlights */

#highlights {
  @extend %padding-top;
  h2 {
    margin-bottom: 2rem;
  }
}

/* About */

#about {
  @extend %padding-top;
}

/* Footer */

footer {
  @extend %padding-top;
  padding-bottom: 1rem;

  .copyright {
    @extend %uppercase;
    text-align: right;
  }

  .social-icons {
    display: inline-block;

    svg {
      margin-right: 1rem;
      box-shadow: $shadow;
    }

    svg:last-child {
      margin: 0;
    }
  }
}

footer.angle--color {
  padding: 5rem 0 1rem;
}

/* Media Queries */

@media (max-width: 400px) {
  .subheading-text {
    display: block;
  }
  .navbar-dark {
    .navbar-brand {
      font-size: 1.8rem;
    }
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .ribbon {
    margin: 0.5rem auto 0;
    width: 100%;
  }
  .ribbon:before,
  .ribbon:after {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .ribbon {
    margin: 0.5rem auto 0;
    width: 100%;
  }
  .ribbon:before,
  .ribbon:after {
    display: none;
  }
}
