/* Imports */

@import "angled-edges";
@import "ribbon";

/* Variables */

$white: #d6dae4;
$white2: #f1f5f8;
$black: #333;
$yellow: #ffed4a;
$yellow2: #fff382;
$yellow3: #fcfbeb;

$shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$shadow2: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

$selection: rgba(255, 237, 74, 0.5);

/* Extensions/Inheritance */

%transition {
  transition: all 0.3s ease-in-out;
}

%uppercase {
  text-transform: uppercase;
}

%padding-top-bottom {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Document */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-size: 10px;
  background-color: $black;
  color: $white;
}

::selection {
  background-color: $yellow3;
  color: $black;
}

/* Text */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @extend %uppercase;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

span,
p,
a,
li,
td,
th,
label,
.btn,
.figure-caption,
.form-control {
  font-size: 1.6rem;
}

/* Misc Classes */

.center-text {
  text-align: center;
}

.bold {
  font-weight: 700;
}

/* Bootstrap Overrides */

.bg-dark {
  background-color: $black !important;
}

.container {
  max-width: 1440px !important;
}

/* Navbar */

.navbar {
  border-top: 0.25rem solid $yellow;
  box-shadow: $shadow;
  .nav-link {
    border-bottom: 0.25rem solid $black;
    padding: 0.5rem 1rem 0.25rem 1rem;
    @extend %transition;
    @extend %uppercase;
  }

  .nav-link:hover,
  .nav-link:focus {
    border-bottom: 0.25rem solid $yellow;
  }
}

.navbar-dark {
  .navbar-toggler {
    color: var(--white);
    border: none;
  }
  .navbar-brand {
    color: var(--white);
    font-weight: 700;
    font-size: 2rem;
    @extend %transition;
    @extend %uppercase;
  }
}

/* Hero */

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(21, 21, 21, 0.5), rgba(21, 21, 21, 1)),
    url(https://source.unsplash.com/FlmXvqlD-nI);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  text-align: center;

  .hero-text {
    margin-top: 58px;
    padding: 0 1rem;
  }

  .subheading-container {
    margin-bottom: 1.5rem;
    @extend %uppercase;
  }

  .hero-button {
    color: $black;
    @extend %uppercase;
  }
}

.hero-container-secondary {
  height: 420px;
}

/* Sections */

#why,
#highlights,
#hours,
#about,
#appetizers,
#burgers,
#drinks,
#contact {
  @extend %padding-top-bottom;
  h2 {
    margin-bottom: 2rem;
  }
}

/* Contact */

#contact button {
  margin-bottom: 2rem;
}

/* Table */

.table .thead-light th {
  color: $black;
  background-color: $white;
  border-color: $white;
}

.table thead th {
  border-bottom: 2px solid $white;
}
.table td,
.table th {
  border-top: 1px solid $white;
}

/* Forms */

.btn {
  border-radius: 0;
  font-weight: 500;
}

.btn-yellow {
  background-color: $yellow;
  box-shadow: $shadow;
  @extend %transition;
}

.btn:hover,
.btn:focus {
  background: $yellow2;
  box-shadow: $shadow2;
}

.form-control {
  background-color: $white;
  box-shadow: $shadow;
  border-radius: 0;
  @extend %transition;
}

.form-control:focus {
  background-color: $white2;
  border-color: $selection;
  box-shadow: 0 1px 1px $selection inset, 0 0 8px $selection;
  outline: 0 none;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(3rem + 4px);
}

/* Images */

img {
  border: 0.5rem solid $white2;
  box-shadow: $shadow;
}

/* Footer */

footer {
  @extend %padding-top-bottom;

  .copyright {
    @extend %uppercase;
  }

  .social-icons {
    display: inline-block;
    a {
      color: transparent;
      margin-right: 1rem;
    }

    a:last-child {
      margin: 0;
    }

    svg {
      box-shadow: $shadow;
      @extend %transition;
    }

    svg:hover,
    svg:focus {
      box-shadow: $shadow2;
    }
  }
}

footer.angle--color {
  padding: 6rem 0 2rem;
}

/* Media Queries */

@media (max-width: 400px) {
  .subheading-text {
    display: block;
  }
  .navbar-dark {
    .navbar-brand {
      font-size: 1.8rem;
    }
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .ribbon {
    margin: 0.5rem auto 0;
    width: 100%;
  }
  .ribbon:before,
  .ribbon:after {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .ribbon {
    margin: 0.5rem auto 0;
    width: 100%;
  }
  .ribbon:before,
  .ribbon:after {
    display: none;
  }
}
